@import "tailwindcss";

@layer base {
	:root {
		--color-primary: #3b82f6;

		/* background color */
		--background-primary: var(--color-primary);
	}
}

.btn-option {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	font-weight: 500;
	@apply text-(--color-primary);
}

.btn-option:hover {
	@apply bg-(--color-primary);

	transition: all 0.4s;
	color: #fff;
	border: none;
}

.link {
	width: auto;
	display: inline-block;
	transform: translateY();
}

.img-set {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	position: static !important;
}

.no-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
